## Pandas exercise

In [1]:
# import some useful libraries
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore") 
pd.set_option('display.max_columns', 30)
pd.set_option('display.width', 200)
pd.set_option('display.max_colwidth', 100)

In [3]:
# load the tsv file into a dataframe
data_path = '/Users/verologu/Developer/MasterBTS/big_data/DataExploration/insert-data/twitter-vine-clean.tsv.bz2'
df = pd.read_csv(data_path, low_memory=False, sep='\t', compression='bz2')

In [4]:
print('See number of rows and number of columns:')
print(df.shape)
print('See colunm names')
print(df.columns)

See number of rows and number of columns:
(2129755, 22)
See colunm names
Index(['created_at', 'tweet_id', 'text', 'source', 'favorited', 'retweeted', 'possibly_sensitive', 'lang', 'geo', 'coordinates', 'hashtags', 'urls', 'user_mentions', 'in_reply_to_user_id',
       'retweet_count', 'user_id', 'user_name', 'user_location', 'user_followers_count', 'user_friends_count', 'user_created_at', 'user_verified'],
      dtype='object')

In [5]:
df.head(5)

,created_at,tweet_id,text,source,favorited,retweeted,possibly_sensitive,lang,geo,coordinates,hashtags,urls,user_mentions,in_reply_to_user_id,retweet_count,user_id,user_name,user_location,user_followers_count,user_friends_count,user_created_at,user_verified
0,2013-01-28T13:41:54+00:00,295889441355071488,BBC News - Twitter launches Vine micro-video sharing service http://t.co/MykDuEgx,"<a href=""http://twitter.com/tweetbutton"" rel=""nofollow"">Tweet Button</a>",False,False,False,en,None,None,[],"[{'url': 'http://t.co/MykDuEgx', 'indices': [61, 81], 'display_url': 'bbc.in/148Grra', 'expanded...",[],None,0,632569755,Sherry Edwards,US,8,45,2012-07-11T02:01:19+00:00,False
1,2013-01-28T13:41:57+00:00,295889452121866241,“Vine” อลวน โป๊ระบาด-เฟซบุ๊กสั่งแบน-ทวิตเตอร์เซ็ง http://t.co/mIo9PO6t,"<a href=""http://www.facebook.com/twitter"" rel=""nofollow"">Facebook</a>",False,False,False,th,None,None,[],"[{'url': 'http://t.co/mIo9PO6t', 'indices': [50, 70], 'display_url': 'manager.co.th/Cyberbiz/Vie...",[],None,0,94285151,Keng KSPstudio,NaN,165,736,2009-12-03T08:18:58+00:00,False
2,2013-01-28T13:41:58+00:00,295889454705565696,"Really excited for the explosion of 'What does Vine mean for _______?' pieces, which will dodge ...",web,False,False,NaN,en,None,None,[],[],[],None,0,21334099,Ryan Farkas,Toronto,367,841,2009-02-19T20:13:33+00:00,False
3,2013-01-28T13:41:58+00:00,295889458639802368,It's fun to think about the potential that exists between #vine and those who have DIY #Etsy bus...,web,False,False,NaN,en,None,None,"[{'indices': [58, 63], 'text': 'vine'}, {'indices': [87, 92], 'text': 'Etsy'}]",[],"[{'id': 18288876, 'id_str': '18288876', 'screen_name': 'cary_weston', 'name': 'Cary Weston', 'in...",None,0,317935518,Pat Lemieux,Bangor Maine,354,383,2011-06-15T18:14:44+00:00,False
4,2013-01-28T13:42:01+00:00,295889470333517824,Just Vined Lets You See the Last 20 Videos on Vine http://t.co/5tqQtM92,web,False,False,False,en,None,None,[],"[{'url': 'http://t.co/5tqQtM92', 'indices': [51, 71], 'display_url': 'bit.ly/Vrvb87', 'expanded_...",[],None,0,736658053,adelineuddbbilo,Tampa,43,99,2012-08-04T12:33:45+00:00,False

In [14]:
print(len(df))

2129755

## Questions
### How many tweets?

In [16]:
df_tweet_ids = df['tweet_id']
print(len(df_tweet_ids))

2129755

### How many unique users?

In [17]:
df_unique_users = df['user_id'].unique()
print(len(df_unique_users))

918911

### How many tweets contains more than one URL?

In [17]:
df_urls = df['text']
pattern = 'http'
df_urls_http_count = df_urls.str.count(pattern)>1
print(sum(df_urls_http_count))

19899

### How many tweets are geotagged (have latitude and longitude )?

In [31]:
df_located = df['geo']
df_located_not_none = df_located[df['geo'] != 'None']

In [34]:
df_coordinates = df['coordinates']
df_coordinates_not_none = df_coordinates[df['coordinates'] != 'None']

In [36]:
print(df_coordinates_not_none)

278         {'type': 'Point', 'coordinates': [-92.94046409, 17.97941167]}
334         {'type': 'Point', 'coordinates': [-57.91381975, -34.8577942]}
394            {'type': 'Point', 'coordinates': [-75.7945825, 8.8868857]}
502           {'type': 'Point', 'coordinates': [-1.4910736, 53.37222354]}
652               {'type': 'Point', 'coordinates': [-74.85085, 11.01855]}
849           {'type': 'Point', 'coordinates': [2.35649166, 48.88620624]}
933               {'type': 'Point', 'coordinates': [-2.127335, 50.76858]}
1013           {'type': 'Point', 'coordinates': [-88.2725981, 18.524729]}
1167        {'type': 'Point', 'coordinates': [-79.40683419, 43.66800208]}
1201                    [{'indices': [112, 125], 'text': 'clubbloggers'}]
1586          {'type': 'Point', 'coordinates': [-73.9195615, 40.7006034]}
1617          {'type': 'Point', 'coordinates': [-81.4527092, 41.0328845]}
1624        {'type': 'Point', 'coordinates': [-73.97874872, 40.72680173]}
1634        {'type': 'Point', 'coordinates': [-73.98537061, 40.76261948]}
1708         {'type': 'Point', 'coordinates': [-58.3843672, -34.5891179]}
1904           {'type': 'Point', 'coordinates': [42.7293456, 43.9098431]}
2218         {'type': 'Point', 'coordinates': [-0.11084431, 51.52248565]}
2313              {'type': 'Point', 'coordinates': [-92.92618, 18.00257]}
2355           {'type': 'Point', 'coordinates': [-103.363365, 20.706771]}
2388        {'type': 'Point', 'coordinates': [-80.15653825, 26.28101403]}
2444        {'type': 'Point', 'coordinates': [-95.97149782, 36.05127448]}
2454         {'type': 'Point', 'coordinates': [24.12365234, 56.95138627]}
2675         {'type': 'Point', 'coordinates': [39.16263112, 21.58847837]}
2678         {'type': 'Point', 'coordinates': [-0.07527485, 51.54719371]}
2685       {'type': 'Point', 'coordinates': [-122.51044929, 37.91689812]}
2708        {'type': 'Point', 'coordinates': [-115.09377633, 36.0417821]}
2912          {'type': 'Point', 'coordinates': [3.72359594, 51.05981349]}
2940          {'type': 'Point', 'coordinates': [4.40310795, 50.85363175]}
2957       {'type': 'Point', 'coordinates': [-122.39287546, 37.77860408]}
2982         {'type': 'Point', 'coordinates': [-0.14121318, 51.52009541]}
                                        ...
2126376       {'type': 'Point', 'coordinates': [0.34060348, 51.43955292]}
2126501       {'type': 'Point', 'coordinates': [-49.197069, -25.5502958]}
2126575      {'type': 'Point', 'coordinates': [-49.1970692, -25.5502958]}
2126598             {'type': 'Point', 'coordinates': [-2.88424, 54.0633]}
2126600        {'type': 'Point', 'coordinates': [-56.016237, -34.836916]}
2126615     {'type': 'Point', 'coordinates': [-83.38796371, 33.95217198]}
2126629           {'type': 'Point', 'coordinates': [-90.53721, 19.81756]}
2126693      {'type': 'Point', 'coordinates': [-54.6377051, -20.4757499]}
2126904         {'type': 'Point', 'coordinates': [3.1209487, 41.8874983]}
2126954     {'type': 'Point', 'coordinates': [-74.12945631, 40.10644215]}
2127036     {'type': 'Point', 'coordinates': [-122.1991532, 47.61840676]}
2127047       {'type': 'Point', 'coordinates': [-97.8905953, 36.2794864]}
2127325       {'type': 'Point', 'coordinates': [-84.0311554, 9.98045055]}
2127574     {'type': 'Point', 'coordinates': [-97.85382668, 22.23567076]}
2127705           {'type': 'Point', 'coordinates': [-93.14923, 17.97847]}
2127935     {'type': 'Point', 'coordinates': [-71.10107141, 42.34314894]}
2128051     {'type': 'Point', 'coordinates': [-89.82311084, 30.31294294]}
2128197    {'type': 'Point', 'coordinates': [-117.82894736, 34.12843784]}
2128230      {'type': 'Point', 'coordinates': [-73.9746758, 40.75362352]}
2128538    {'type': 'Point', 'coordinates': [-100.41037482, 20.59449847]}
2128644    {'type': 'Point', 'coordinates': [-70.62855857, -33.43451988]}
2128648      {'type': 'Point', 'coordinates': [-1.18936403, 50.80180166]}
2128866     {'type': 'Point', 'coordinates': [-76.97058723, -12.0856061]}
2129048     {'type': 'Point', 'coordinates': [-79.30522299, 43.72113092]}
2129320     {'type': 'Point', 'coordinates': [-103.3976984, 20.65732166]}
2129345    {'type': 'Point', 'coordinates': [-118.32719164, 34.09876928]}
2129474    {'type': 'Point', 'coordinates': [-55.95072412, -27.41878283]}
2129626     {'type': 'Point', 'coordinates': [-118.4315246, 34.02853761]}
2129711        {'type': 'Point', 'coordinates': [-76.3022341, 3.5435694]}
2129733     {'type': 'Point', 'coordinates': [-99.16868484, 20.42219821]}
Name: coordinates, dtype: object

In [32]:
print(df_located_not_none)

278         {'type': 'Point', 'coordinates': [17.97941167, -92.94046409]}
334         {'type': 'Point', 'coordinates': [-34.8577942, -57.91381975]}
394            {'type': 'Point', 'coordinates': [8.8868857, -75.7945825]}
502           {'type': 'Point', 'coordinates': [53.37222354, -1.4910736]}
652               {'type': 'Point', 'coordinates': [11.01855, -74.85085]}
849           {'type': 'Point', 'coordinates': [48.88620624, 2.35649166]}
933               {'type': 'Point', 'coordinates': [50.76858, -2.127335]}
1013           {'type': 'Point', 'coordinates': [18.524729, -88.2725981]}
1167        {'type': 'Point', 'coordinates': [43.66800208, -79.40683419]}
1586          {'type': 'Point', 'coordinates': [40.7006034, -73.9195615]}
1617          {'type': 'Point', 'coordinates': [41.0328845, -81.4527092]}
1624        {'type': 'Point', 'coordinates': [40.72680173, -73.97874872]}
1634        {'type': 'Point', 'coordinates': [40.76261948, -73.98537061]}
1708         {'type': 'Point', 'coordinates': [-34.5891179, -58.3843672]}
1904           {'type': 'Point', 'coordinates': [43.9098431, 42.7293456]}
2218         {'type': 'Point', 'coordinates': [51.52248565, -0.11084431]}
2313              {'type': 'Point', 'coordinates': [18.00257, -92.92618]}
2355           {'type': 'Point', 'coordinates': [20.706771, -103.363365]}
2388        {'type': 'Point', 'coordinates': [26.28101403, -80.15653825]}
2444        {'type': 'Point', 'coordinates': [36.05127448, -95.97149782]}
2454         {'type': 'Point', 'coordinates': [56.95138627, 24.12365234]}
2675         {'type': 'Point', 'coordinates': [21.58847837, 39.16263112]}
2678         {'type': 'Point', 'coordinates': [51.54719371, -0.07527485]}
2685       {'type': 'Point', 'coordinates': [37.91689812, -122.51044929]}
2708        {'type': 'Point', 'coordinates': [36.0417821, -115.09377633]}
2912          {'type': 'Point', 'coordinates': [51.05981349, 3.72359594]}
2940          {'type': 'Point', 'coordinates': [50.85363175, 4.40310795]}
2957       {'type': 'Point', 'coordinates': [37.77860408, -122.39287546]}
2982         {'type': 'Point', 'coordinates': [51.52009541, -0.14121318]}
3012          {'type': 'Point', 'coordinates': [50.85365777, 4.40319479]}
                                        ...
2126376       {'type': 'Point', 'coordinates': [51.43955292, 0.34060348]}
2126501       {'type': 'Point', 'coordinates': [-25.5502958, -49.197069]}
2126575      {'type': 'Point', 'coordinates': [-25.5502958, -49.1970692]}
2126598             {'type': 'Point', 'coordinates': [54.0633, -2.88424]}
2126600        {'type': 'Point', 'coordinates': [-34.836916, -56.016237]}
2126615     {'type': 'Point', 'coordinates': [33.95217198, -83.38796371]}
2126629           {'type': 'Point', 'coordinates': [19.81756, -90.53721]}
2126693      {'type': 'Point', 'coordinates': [-20.4757499, -54.6377051]}
2126904         {'type': 'Point', 'coordinates': [41.8874983, 3.1209487]}
2126954     {'type': 'Point', 'coordinates': [40.10644215, -74.12945631]}
2127036     {'type': 'Point', 'coordinates': [47.61840676, -122.1991532]}
2127047       {'type': 'Point', 'coordinates': [36.2794864, -97.8905953]}
2127325       {'type': 'Point', 'coordinates': [9.98045055, -84.0311554]}
2127574     {'type': 'Point', 'coordinates': [22.23567076, -97.85382668]}
2127705           {'type': 'Point', 'coordinates': [17.97847, -93.14923]}
2127935     {'type': 'Point', 'coordinates': [42.34314894, -71.10107141]}
2128051     {'type': 'Point', 'coordinates': [30.31294294, -89.82311084]}
2128197    {'type': 'Point', 'coordinates': [34.12843784, -117.82894736]}
2128230      {'type': 'Point', 'coordinates': [40.75362352, -73.9746758]}
2128538    {'type': 'Point', 'coordinates': [20.59449847, -100.41037482]}
2128644    {'type': 'Point', 'coordinates': [-33.43451988, -70.62855857]}
2128648      {'type': 'Point', 'coordinates': [50.80180166, -1.18936403]}
2128866     {'type': 'Point', 'coordinates': [-12.0856061, -76.97058723]}
2129048     {'type': 'Point', 'coordinates': [43.72113092, -79.30522299]}
2129320     {'type': 'Point', 'coordinates': [20.65732166, -103.3976984]}
2129345    {'type': 'Point', 'coordinates': [34.09876928, -118.32719164]}
2129474    {'type': 'Point', 'coordinates': [-27.41878283, -55.95072412]}
2129626     {'type': 'Point', 'coordinates': [34.02853761, -118.4315246]}
2129711        {'type': 'Point', 'coordinates': [3.5435694, -76.3022341]}
2129733     {'type': 'Point', 'coordinates': [20.42219821, -99.16868484]}
Name: geo, dtype: object

In [41]:
df_located_tweets = df_coordinates_not_none + df_located_not_none

In [44]:
print(len(df_located_tweets))

15978

### How many tweets are original (e.g., not retweets)?

In [27]:
df_tweets = df['text']
df_original_tweets = df[~df_tweets.str.contains("RT", na=False)]

In [28]:
print(len(df_original_tweets))

1598034

### How many tweets for each day? In average?

In [54]:
df_tweets_date = df['created_at']
df_tweets_date.to_datetime

AttributeError: 'Series' object has no attribute 'to_datetime'

### Day of the week with highest volume of traffic?

### Which are the most popular user_location ?

In [26]:
df_popular_location = pd.DataFrame(df.groupby('user_location').sum())

In [23]:
df_popular_location.sort('user_followers_count', ascending=False)

                                    tweet_id favorited  retweet_count  user_followers_count
user_location
New York, NY                    3.637141e+21     False              0             340054545
San Francisco                   2.665533e+21     False              0             212790679
Los Angeles                     3.385367e+21     False              0             208710892
London                          6.388056e+21     False              0             194814289
NYC                             2.767813e+21     False              0             135688895
New York City                   2.619944e+21     False              0             123054710
NYC / SF                        1.826820e+19     False              0             122878507
USA - BRAZIL                    1.132433e+19     False              0             108828861
New York, New York              5.025782e+20     False              0              91675534
Los Angeles, CA                 2.848157e+21     False              0              88695575
New York                        3.277469e+21     False              0              63742041
San Francisco, CA               2.418839e+21     False              0              61203540
Twitter HQ                      9.286306e+18     False              0              57458930
Venezuela                       1.038744e+21     False              0              55385144
USA                             1.421279e+21     False              0              49436492
San Francisco/New York          7.533947e+18     False              0              43765933
London, UK                      1.368177e+21     False              0              39921817
Brooklyn, NY                    2.351621e+21     False              0              38183790
 Back Of A Phantom              1.148733e+19     False              0              35689942
London/Los Angeles              4.228603e+18     False              0              33887979
Boston, MA                      1.328830e+21     False              0              29547622
Paris                           1.852317e+21     False              0              28957044
Silicon Valley                  1.114000e+20     False              0              28090395
Chicago, IL                     1.894395e+21     False              0              28000746
http://bit.ly/marsstore         7.829723e+18     False              0              24990842
Everywhere                      4.545821e+20     False              0              24374534
Washington, DC                  1.106058e+21     False              0              23795700
Studio 1A                       4.513846e+18     False              0              23745742
Body? L.A. Mind? N.J.           3.009266e+18     False              0              23202098
London, England                 2.884087e+20     False              0              23123847
...                                      ...       ...            ...                   ...
Con los pies sobre la tierra    2.975760e+17     False              0                     0
LONDON  MUNICH PARIS            2.999318e+17     False              0                     0
burnettown, sc, usa             3.028634e+17     False              0                     0
Río, Salamanca                  2.972888e+17     False              0                     0
Collecchio Parma                5.926013e+17     False              0                     0
La Guajira-Colombia             2.959788e+17     False              0                     0
Wolverhampton, UK               3.046286e+17     False              0                     0
Anderson,CA                     2.964074e+17     False              0                     0
RoTand                          2.994602e+17     False              0                     0
#Sharjah ♥                      2.995536e+17     False              0                     0
The Walk of Shame               3.015539e+17     False              0                     0
Culpeper, United States         3.028487e+17     False              0                     0
Davao city                      3.044464e+17     False              0                     0
Dat Delta, in da Shwampsz,brah  2.967427e+17     False              0                     0
Dans la campagne de Strasbourg  2.967326e+17     False              0                     0
Merodeando tu cabeza.           3.033058e+17     False              0                     0
with my hyungs & unnies         3.042426e+17     False              0                     0
Verdun                          3.047514e+17     False              0                     0
Vernon                          8.916972e+17     False              0                     0
miles city, ia, usa             3.028620e+17     False              0                     0
All over the Internet!          3.014004e+17     False              0                     0
DET,MI                          3.053361e+17     False              0                     0
worcs uk                        3.011015e+17     False              0                     0
DEC                             2.995711e+17     False              0                     0
Allahabad                       3.023240e+17     False              0                     0
wunjunga                        2.964909e+17     False              0                     0
casablanca morocco              2.994103e+17     False              0                     0
iklan/promote: 089688694628     2.994537e+17     False              0                     0
Rio de janeiiro                 3.045315e+17     False              0                     0
Doboj, B&H                      2.977913e+17     False              0                     0

[261245 rows x 4 columns]

In [24]:
max_followers_id_max = df_popular_location['user_followers_count'].idxmax()

In [25]:
print(max_followers_id_max)

New York, NY

### Which are the most popular hashtags?